body {
    font-family: BentonSans, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9em;
}
h1.title {
    width: 100%;
    background-color: #0066aa;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
}

.right, .wrong, .example {
    background-color: white;
    line-height: 1.5em;
    padding: 0;
    border-radius: 6px;
    border: 1px solid #aaaaaa;
    width: 75%;
    margin-top: 10px;
}

.heading span {
    padding-left: 10px;
    font-size: 0.7em;
}

.styleitem {
    margin-top: 10px;
}

pre {
    margin: 5px 0 5px 10px;
}
ol {
    width: 50%;
}
ul {
    margin-bottom: 10px;
    background-color: #ffffcc;
    border-left: 4px solid #444444;
}
ul li {
    list-style-type: none;
    display: inline-block;
    /* background-color: #cceeff; */
    padding: 2px;
    margin-right: 3px;
    border-radius: 3px;
}
.heading {
    display: inline-block;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.right .heading {
    background-color: #aaffaa;
}

.wrong .heading {
    background-color: #ffaaaa;
}

.example .heading {
    background-color: #aaaaaa;
}
