<body class="{{options.theme}}">
    <div class="styleguide">
        <h1 class="title">{{options.title}}</h1>
        <ol>
            {{#each props}}
                <li class="styleitem">
                {{>rule options=../options}}
                </li>
            {{/each}}
        </ol>
    </div>
</body>
