<!DOCTYPE html>
<html>
<head>
    <title>{{options.title}}</title>
</head>
<body>
    <h1 class="title">{{options.title}}</h1>
    <ol>
        {{#each props}}
            {{>attribute}}
        {{/each}}
    </ol>
</body>
</html>        
