<!DOCTYPE html>
<html>
<head><!DOCTYPE html>
<html>
<head>
    <title>{{options.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{options.theme}}.css" />
</head>
{{>body }}
</html>        
